/* General styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: white; /* Change background to white */
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease; /* Smooth transition when collapsing */
}

.sidebar h2 {
    color: #ecf0f1;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Sidebar collapsed state with placeholder */
.sidebar.collapsed {
    width: 60px; /* Reduced width for the collapsed sidebar */
    padding: 10px 0;
}

/* Sidebar toggle button, below the "PO Platform" */
.sidebar-toggle {
    background-color: #34495e;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position:
